{% extends "base.html" %}

{% block titulo %} Homepage {% endblock %}


{% block body %}
<nav>
    <a href=" {{ url_for('cadastro') }} "> HOME </a>
</nav>
    {% block formulario %}
    <form method="POST">
        {{ form.csrf_token }}

        {{ form.email.label() }}
        {{ form.email() }}

        {{ form.password.label() }}
        {{ form.password() }}

        {{ form.btn() }}
    </form>
    {% endblock %}
<footer class="rodape">
    <p>&copy;2023 - Todos os direitos reservados</p>
</footer>
{% endblock %}
